.fp-enabled #second {
    overflow-y: hidden;
}
.b img, .center__wrap__img img {
    width: auto;
    height: 100%;
}
.services .services__content--mobile {
    display: none;
}
.single-services .enroll .center .btn__back::after, .single-services .enroll .center .btn__back::before {
    content: "« УСЛУГИ";
    font-size: 25px;
}
.startMenuRight .main__right__bottom {
    visibility: collapse;
}
.gallery .main .container__bottom .gallery__image, .gallery__thumb {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.gallery__thumb {
    display: inline;
    height: 100%;
    width: 150px;
}
.gallery__thumb:hover {
    -webkit-filter: blur(1px);
    filter: blur(1px);
}
.border-line {
    background-color: #000;
    content: '';
    display: none;
    height: 1px;
    width: 100%;
}
.border-line--30 {
    width: 30px;
}
.border-line--desc {
    display: block;
}
.gallery .main .container__bottom .gallery__image > img {
    display: none;
}
.gallery #b2 {
    display: none;
}
.hot-hours {
    display: none;
}
.hot-hours--1 {
    display: block;
}
.review__block {
    display: flex;
    text-align: center;
}
.review__photo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 220px;
    width: 18%;
}
.reviews__question {
    font-size: 15px;
    padding: 0 0 7px;
}
.home p {
    font-size: 17px;
}
.border-cont {
    border: 1px solid #000;
    border-top: 0;
}
.border-cont__title {
    display: flex;
}
.education .main.schedule .container__left {
    left: 0;
    top: 0;
    padding: 0;
}
.education .main.schedule .container__left .container__title h2 {
    max-width: initial;
    padding: 0 12px;
}
.education .main.schedule .container__right .slider li .schedule__block {
    margin-bottom: 22px;
}
.education .main.second .center .container {
    max-height: initial;
    height: auto;
}
.education .main.schedule .container__right .slider {
    padding: 42px 0 62px;
    height: auto;
    overflow: initial;
}
.education .main.schedule .container__right .slider li .schedule__block__left {
    align-items: initial;
}
.schedule__date > span {
    padding: 6px 10px 0 0;
    display: inline-block;
}
.schedule__block--1 .schedule__date {
    text-shadow:0px 1px 0 rgb(232,228,225),0px -1px 0 rgb(232,228,225),1px 0px 0 rgb(232,228,225),-1px 0px 0 rgb(232,228,225),1px 1px 0 rgb(232,228,225),1px -1px 0 rgb(232,228,225),-1px 1px 0 rgb(232,228,225),-1px -1px 0 rgb(232,228,225),0px 2px 0 rgb(232,228,225),0px -2px 0 rgb(232,228,225),2px 0px 0 rgb(232,228,225),-2px 0px 0 rgb(232,228,225),2px 2px 0 rgb(232,228,225),2px -2px 0 rgb(232,228,225),-2px 2px 0 rgb(232,228,225),-2px -2px 0 rgb(232,228,225),0px 3px 0 rgb(232,228,225),0px -3px 0 rgb(232,228,225),3px 0px 0 rgb(232,228,225),-3px 0px 0 rgb(232,228,225),3px 3px 0 rgb(232,228,225),3px -3px 0 rgb(232,228,225),-3px 3px 0 rgb(232,228,225),-3px -3px 0 rgb(232,228,225);
}
.schedule__block--2 .schedule__date {
    text-shadow:0px 1px 0 rgb(229,229,228),0px -1px 0 rgb(229,229,228),1px 0px 0 rgb(229,229,228),-1px 0px 0 rgb(229,229,228),1px 1px 0 rgb(229,229,228),1px -1px 0 rgb(229,229,228),-1px 1px 0 rgb(229,229,228),-1px -1px 0 rgb(229,229,228),0px 2px 0 rgb(229,229,228),0px -2px 0 rgb(229,229,228),2px 0px 0 rgb(229,229,228),-2px 0px 0 rgb(229,229,228),2px 2px 0 rgb(229,229,228),2px -2px 0 rgb(229,229,228),-2px 2px 0 rgb(229,229,228),-2px -2px 0 rgb(229,229,228),0px 3px 0 rgb(229,229,228),0px -3px 0 rgb(229,229,228),3px 0px 0 rgb(229,229,228),-3px 0px 0 rgb(229,229,228),3px 3px 0 rgb(229,229,228),3px -3px 0 rgb(229,229,228),-3px 3px 0 rgb(229,229,228),-3px -3px 0 rgb(229,229,228);
}
.schedule__block--3 .schedule__date {
    text-shadow:0px 1px 0 rgb(227,229,229),0px -1px 0 rgb(227,229,229),1px 0px 0 rgb(227,229,229),-1px 0px 0 rgb(227,229,229),1px 1px 0 rgb(227,229,229),1px -1px 0 rgb(227,229,229),-1px 1px 0 rgb(227,229,229),-1px -1px 0 rgb(227,229,229),0px 2px 0 rgb(227,229,229),0px -2px 0 rgb(227,229,229),2px 0px 0 rgb(227,229,229),-2px 0px 0 rgb(227,229,229),2px 2px 0 rgb(227,229,229),2px -2px 0 rgb(227,229,229),-2px 2px 0 rgb(227,229,229),-2px -2px 0 rgb(227,229,229),0px 3px 0 rgb(227,229,229),0px -3px 0 rgb(227,229,229),3px 0px 0 rgb(227,229,229),-3px 0px 0 rgb(227,229,229),3px 3px 0 rgb(227,229,229),3px -3px 0 rgb(227,229,229),-3px 3px 0 rgb(227,229,229),-3px -3px 0 rgb(227,229,229);
}
.schedule__block--4 .schedule__date {
    text-shadow:0px 1px 0 rgb(225,230,231),0px -1px 0 rgb(225,230,231),1px 0px 0 rgb(225,230,231),-1px 0px 0 rgb(225,230,231),1px 1px 0 rgb(225,230,231),1px -1px 0 rgb(225,230,231),-1px 1px 0 rgb(225,230,231),-1px -1px 0 rgb(225,230,231),0px 2px 0 rgb(225,230,231),0px -2px 0 rgb(225,230,231),2px 0px 0 rgb(225,230,231),-2px 0px 0 rgb(225,230,231),2px 2px 0 rgb(225,230,231),2px -2px 0 rgb(225,230,231),-2px 2px 0 rgb(225,230,231),-2px -2px 0 rgb(225,230,231),0px 3px 0 rgb(225,230,231),0px -3px 0 rgb(225,230,231),3px 0px 0 rgb(225,230,231),-3px 0px 0 rgb(225,230,231),3px 3px 0 rgb(225,230,231),3px -3px 0 rgb(225,230,231),-3px 3px 0 rgb(225,230,231),-3px -3px 0 rgb(225,230,231);
}
#fullpage .month--long {
    font-size: 79% !important;
    letter-spacing: -0.05em;
}
.current-menu-item a {
    color: #b39658 !important;
}
.contact__map {
    display: none;
}
.contact__email a {
    font-size: 19px;
}

.services__popup .wrap {
    position: relative;
}
.services__popup__form {
    height: auto;
    margin: auto;
    max-height: calc(100% - 50px);
    overflow: auto;
    position: relative;
    width: 100%;
}
.services__popup .wrap {
    bottom: 0;
    margin: 24px 0;
}
.services__popup .wrap .btn::before {
    top: -3px;
    padding: 33px 3px;
}
.services__popup .wrap .btn::after {
    top: -3px;
    padding: 29px 3px;
}
.services__popup .wrap .btn:hover {
    color: #000;
}
.cta__block:not(.cta__block--none-style) {
    display: flex;
    height: 100%;
    max-width: 95%;
    position: relative;
    width: 490px;
}
.services__popup__form::before, .services__popup__form::after {
    display: none;
}
.cta__plus {
    background: url(../img/plus-sm.png) no-repeat 50%;
    background-size: auto auto;
    background-size: contain;
    height: 30px;
    position: absolute;
    width: 30px;
}
.cta__plus--top {
    left: -18px;
    top: 32px;
}
.cta__plus--bottom {
    right: -17px;
    top: 500px;
}
.cta__time-input, .cta__gender-input {
    left: -5000px;
    position: fixed;
}
.cta__time-label {
    background-color:#e9e3df;
    border:2px solid #b39658;
    border-radius:50%;
    cursor: pointer;
    display: block;
    height:35px;
    width:35px;
}
.cta__time-input:checked ~ .cta__time-label, .cta__time-label:hover {
    background:#b39658;
}
.cta__gender-label {
    border:2px solid #b39658;
    border-radius:50%;
    cursor:pointer;
    display: flex;
    height:69px;
    text-align: center;
    width:69px;
}
.cta__gender-label > span {
    margin: auto;
}
.cta__gender-input:checked ~ .cta__gender-label, .cta__gender-label:hover{
    color:#fff;
    background-color:#000;
    border:2px solid #000
}
.cta__status {
    /*background-color: rgba(255, 255, 255, 0.94);*/
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}
.cta__status-body {
    text-align: center;
    margin: auto;
}

/*.cta--success, .cta--error, .cta--loading {*/
    /*overflow: hidden !important;*/
/*}*/
.cta__block .cta--success > *, .cta__block .cta--error > *, .cta__block .cta--loading > * {
    display: none;
}
.cta--success, .cta--error, .cta--loading {
    height: 178px;
}
.cta--success .cta__status--success, .cta--error .cta__status--error, .cta--loading .cta__status--loading {
    display: flex;
}
.cta__status-title {
    font-style: italic;
}
.cta__status-title h4 {
    padding-bottom: 0;
    font-style: normal;
    font-family: 'Times New Roman';
    text-transform: uppercase;
    font-size: 24px;
}
.spinner {
    bottom: 40px;
    position: absolute;
    left: 50%;
    margin: 100px 0 100px -25px;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}
.spinner > div {
    background-color: rgb(47, 34, 60);
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}
@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}

.phones--big {
    margin: 3px 0 19px;
}
.phones--big a, .phones--big {
    font-size: 31px;
    font-weight: bold;
    font-family: Roboto Condensed,sans-serif;
}
.btn--transparent {
    background-color: transparent;
    color: #b39658;
}
.btn--transparent:hover {
    color: #000;
}
.btn--transparent::before, .btn--transparent::after {
    display: none;
}

.block--back-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.services .services__items .services__item__left {
    min-height: 140px;
}
.service__slick-item {
    display: none;
}
.service__slick-item.slick-slider {
    display: block;
}

.cta__block--wide {
    width: 730px !important;
}
.cta__block--wide .services__popup__form .service__inputs input {
    margin: 2.5% 10px 2.5%;
    padding: 17px 35px;
    width: calc(50% - 40px) !important;
}
.cta__block--wide .services__popup__form .service__inputs {
    padding-bottom: 2px;
}
.cta__block--wide .services__popup__form h3 {
    padding-bottom: 0.5%;
}
.cta__block--wide .services__popup__form .form__sub-title {
    font-size: 14px;
    font-style: italic;
    padding-bottom: 20px;
    text-align: center;
}
.cta__block--wide .form__modal-text {
    font-size: 14px;
    margin-bottom: 25px;
}
.masters #fullpage .container__right ul .container__img {
    left: -86%;
    top: 10%;
    width: 74%;
}
.service__slick .slick-dots {
    text-align: left;
}
.align--left {
    text-align: left;
}
.no-br p ~ br {
    display: none;
}
.hide-text {
    visibility: collapse;
}
.hide-text p {
    visibility: collapse !important;
}
.overflow--177 {
    overflow: auto;
    max-height: 177px;
}
/*.education .main.info .container .education_info {*/
    /*max-height: 72vh;*/
    /*padding: 0 20px 0 0;*/
    /*overflow: auto;*/
/*}*/
.img--hidden {
    left: -5000px;
    top: 0;
    position: fixed;
}
.education .info__container {
    max-height: 72vh;
    width: 100%;
}
.education .fp-section, .about .fp-section {
    overflow: hidden;
}
.education .education_info {
    max-height: 70vh;
}
.about .center .container {
    width: 100%;
}
.education .main.info .text-slide {
    text-align: left;
}

.count_of_clients {
    display: flex;
    margin: auto;
}
.count_of_clients__left, .count_of_clients__right {
    display: inline-block;
}
.count_of_clients__right {
    position: relative;
    right: -21px;
}
.count_of_clients__left {
    font-size: 98px;
    font-family: Times New Roman, Times, serif;
    font-weight: bold;
    letter-spacing: -0.01em;
    line-height: 0.92;
    padding-right: 0;
}
.count_of_clients__title {
    font-size: 25px;
    font-family: "Sitka Banner", Times New Roman, serif;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -0.01em;
}
.count_of_clients__cont {
    font-size: 20px;
    font-family: "Myriad Pro", Times New Roman, serif;
    letter-spacing: -0.01em;
    width: 262px;
}
.center__right--mp .center__info {
    display: flex;
    margin: auto;
}
.center__right--mp .slick-slider {
    width: 100%;
}
.center__right--mp .center__info--1 {
    align-items: end;
    display: flex;
    height: 68%;
    margin: auto;
}
.center__right--mp .center__info--2 {
    height: 32%;
}

.competition {
    text-align: center;
    display: inline-block;
}
.competition__big-number {
    font-family: Times New Roman, Times, serif;
    font-size: 277px;
    font-weight: bold;
    line-height: 0.7;
}
.competition__sub-number {
    font-family: "Sitka Display", Times New Roman, Times, serif;
    font-size: 66px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -0.01em;
    line-height: 1.2;
}
.competition__desc {
    font-size: 25px;
    font-family: "Roboto Condensed", Times New Roman, Times, serif;
    letter-spacing: -0.01em;
    margin-bottom: 24px;
}
.center--main-slide {
    width: 65.5%;
}
.center--main-slide .center__left {
    padding-left: 0 !important;
}
.right .main__right__top {
    display: block;
    text-align: right;
}
.header-phones {
    display: flex;
    margin: 6px 0 14px;
}
.header-phones .header-phone {
    font-family: "Roboto Condensed", Times New Roman, Times, serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.01em;
    line-height: 1.2;
}
.header-phones__split {
    display: flex;
    width: 1px;
    margin: 0 10px;
}
.header-phones__split:after {
    background-color: #b39658;
    content: '';
    height: 6px;
    margin: auto;
    width: 1px;
}
.btn--small {
    border-width: 1px !important;
    color: #000;
    font-size: 19px;
    letter-spacing: 0.01em;
    padding: 17px 12px 16px;
}
.startMenuRight {
    width: 380px;
}
.menu-link {
    font-family: Times New Roman, Times, serif;
    font-size: 33px;
    font-weight: bold;
    letter-spacing: -0.01em;
    text-transform: uppercase;
}
.header-mobile-title {
    font-family: "Sitka Banner", Times New Roman, Times, serif;
    font-style: italic;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    padding: 40px 0 0;
    text-align: center;
}
.scrollable {
    overflow: auto;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #000 !important;
}
.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #000;
    width: 1px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 5px;
}
.container > .container__right, .container__right > .slider, .container__right > .slider > li, .scroll-box__cont {
    height: 100%;
}
.scroll-box__cont .btn {
    margin-top: 16px;
}
.unslider-arrow--round {
    background-color: #000;
    border-radius: 50px;
    bottom: -36px;
    cursor: pointer;
    display: flex;
    height: 74px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 74px;
}
.unslider-arrow--round img {
    width: 20px;
    height: 32px;
    margin: auto;
}
.unslider-arrow--round.prev {
    left: 20px;
}
.unslider-arrow--round.next {
    right: 20px;
}
.unslider-arrow--round.next img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.unslider--100 {
    bottom: 0;
    position: absolute;
    right: 0;
    width: 100%;
}
.unslider--dotes {
    bottom: -94px;
    display: flex;
    justify-content: space-around;
    right: 100px;
    width: calc(100% - 200px);
    z-index: 10;
}
.dot__item {
    cursor: pointer;
    text-align: center;
    width: 154px;
}
.dot__item--active .dot-item__img {
    border: 2px solid #b39658;
}
.dot-item__img {
    background: transparent no-repeat center center / cover;
    border-radius: 50px;
    display: inline-block;
    height: 92px;
    overflow: hidden;
    width: 92px;
}
.dot-item__img img {
    height: auto;
    min-height: 92px;
    width: 100%;
}
.dot-item__title {
    font-family: Cambria, Times New Roman, Times, serif;
    font-size: 17px;
    font-style: italic;
    margin-top: 2px;
}
/*.service-slider .scroll-box__slide, .service-slider .dot__item {*/
    /*display: none;*/
/*}*/
/*.service-slider--man .scroll-box__slide--man, .service-slider--man .dot__item--man,*/
/*.service-slider--female .scroll-box__slide--female, .service-slider--female .dot__item--female,*/
/*.service-slider--couple .scroll-box__slide--couple, .service-slider--couple .dot__item--couple {*/
    /*display: block;*/
/*}*/
.service-slider--pre {
    display: block !important;
    width: 100%;
}
.service-slider--pre .container__pre {
    display: flex;
}
.service-slider--pre .container__right, .service-slider--pre .under-slide {
    display: none;
}
.container__pre {
    display: none;
    width: 100%;
}
.best-s-pre__cont {
    margin: auto;
    min-width: 100%;
    text-align: center;
    width: 560px;
}
.best-s-pre__desc {
    font-family: "Roboto Condensed", Times New Roman, Times, serif;
    font-size: 19px;
    line-height: 29px;
    letter-spacing: -0.01em;
}
.best-s-pre__big-text {
    font-family: Times New Roman, Times, serif;
    font-size: 41px;
    font-weight: bold;
    letter-spacing: -0.01em;
    margin-top: 22px;
    text-transform: uppercase;
}
.best-s-pre__hr {
    background-color: #b39658;
    color: #b39658;
    display: inline-block;
    height: 2px;
    margin: 25px 0;
    width: 33px;
}
.best-s-pre__input {
    border: 2px solid #000;
    border-radius: 100px;
    cursor: pointer;
    display: inline-block;
    margin: 0 28px;
    padding: 16px;
}
.best-s-pre__input-ins {
    border-radius: 100px;
    display: table-cell;
    height: 88px;
    font-family: "Myriad Pro", Times New Roman, Times, serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    width: 88px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.best-s-pre__input:hover .best-s-pre__input-ins {
    background-color: #b39658;
    color: #efe2da;
}