
.fp-enabled #second {
    overflow-y: hidden;
}
.b img, .center__wrap__img img {
    width: auto;
    height: 100%;
}
.services .services__content--mobile {
    display: none;
}
.single-services .enroll .center .btn__back::after, .single-services .enroll .center .btn__back::before {
    content: "« УСЛУГИ";
    font-size: 25px;
}
.startMenuRight .main__right__bottom {
    visibility: collapse;
}
.gallery .main .container__bottom .gallery__image, .gallery__thumb {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.gallery__thumb {
    display: inline;
    height: 100%;
    width: 150px;
}
.gallery__thumb:hover {
    -webkit-filter: blur(1px);
    filter: blur(1px);
}
.border-line {
    background-color: #000;
    content: '';
    display: none;
    height: 1px;
    width: 100%;
}
.border-line--30 {
    width: 30px;
}
.border-line--desc {
    display: block;
}
.gallery .main .container__bottom .gallery__image > img {
    display: none;
}
.gallery #b2 {
    display: none;
}
.hot-hours {
    display: none;
}
.hot-hours--active {
    display: block;
}
.review__block {
    display: flex;
    text-align: center;
}
.review__photo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 220px;
    width: 18%;
}
.reviews__question {
    font-size: 15px;
    padding: 0 0 7px;
}
.home p {
    font-size: 17px;
}
.border-cont {
    border: 1px solid #000;
    border-top: 0;
}
.border-cont__title {
    display: flex;
}
#fullpage .border-cont__title--abs {
    padding-left: 0;
    position: absolute;
    width: 100%;
}
#fullpage .border-cont .schedule__title {
    margin: -24px 0 0;
    padding: 0 12px;
}
#fullpage .border-cont__title--ext {
    left: 0;
    top: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}
#fullpage .img-text-box .container {
    height: auto;
    max-height: calc(100vh - 203px);
}
.education .main.schedule .container__left {
    left: 0;
    top: 0;
    padding: 0;
}
.education .main.schedule .container__left .container__title h2 {
    max-width: initial;
    padding: 0 12px;
}
.education .main.schedule .container__right .slider li .schedule__block {
    margin-bottom: 22px;
}
.education .main.second .center .container {
    max-height: initial;
    /*height: auto;*/
}
.education .main.schedule .container__right .slider {
    padding: 42px 0 62px;
    height: auto;
    overflow: initial;
}
.education .main.schedule .container__right .slider li .schedule__block__left {
    align-items: initial;
}
.schedule__date > span {
    padding: 6px 10px 0 0;
    display: inline-block;
}
.schedule__block--1 .schedule__date {
    text-shadow:0px 1px 0 rgb(232,228,225),0px -1px 0 rgb(232,228,225),1px 0px 0 rgb(232,228,225),-1px 0px 0 rgb(232,228,225),1px 1px 0 rgb(232,228,225),1px -1px 0 rgb(232,228,225),-1px 1px 0 rgb(232,228,225),-1px -1px 0 rgb(232,228,225),0px 2px 0 rgb(232,228,225),0px -2px 0 rgb(232,228,225),2px 0px 0 rgb(232,228,225),-2px 0px 0 rgb(232,228,225),2px 2px 0 rgb(232,228,225),2px -2px 0 rgb(232,228,225),-2px 2px 0 rgb(232,228,225),-2px -2px 0 rgb(232,228,225),0px 3px 0 rgb(232,228,225),0px -3px 0 rgb(232,228,225),3px 0px 0 rgb(232,228,225),-3px 0px 0 rgb(232,228,225),3px 3px 0 rgb(232,228,225),3px -3px 0 rgb(232,228,225),-3px 3px 0 rgb(232,228,225),-3px -3px 0 rgb(232,228,225);
}
.schedule__block--2 .schedule__date {
    text-shadow:0px 1px 0 rgb(229,229,228),0px -1px 0 rgb(229,229,228),1px 0px 0 rgb(229,229,228),-1px 0px 0 rgb(229,229,228),1px 1px 0 rgb(229,229,228),1px -1px 0 rgb(229,229,228),-1px 1px 0 rgb(229,229,228),-1px -1px 0 rgb(229,229,228),0px 2px 0 rgb(229,229,228),0px -2px 0 rgb(229,229,228),2px 0px 0 rgb(229,229,228),-2px 0px 0 rgb(229,229,228),2px 2px 0 rgb(229,229,228),2px -2px 0 rgb(229,229,228),-2px 2px 0 rgb(229,229,228),-2px -2px 0 rgb(229,229,228),0px 3px 0 rgb(229,229,228),0px -3px 0 rgb(229,229,228),3px 0px 0 rgb(229,229,228),-3px 0px 0 rgb(229,229,228),3px 3px 0 rgb(229,229,228),3px -3px 0 rgb(229,229,228),-3px 3px 0 rgb(229,229,228),-3px -3px 0 rgb(229,229,228);
}
.schedule__block--3 .schedule__date {
    text-shadow:0px 1px 0 rgb(227,229,229),0px -1px 0 rgb(227,229,229),1px 0px 0 rgb(227,229,229),-1px 0px 0 rgb(227,229,229),1px 1px 0 rgb(227,229,229),1px -1px 0 rgb(227,229,229),-1px 1px 0 rgb(227,229,229),-1px -1px 0 rgb(227,229,229),0px 2px 0 rgb(227,229,229),0px -2px 0 rgb(227,229,229),2px 0px 0 rgb(227,229,229),-2px 0px 0 rgb(227,229,229),2px 2px 0 rgb(227,229,229),2px -2px 0 rgb(227,229,229),-2px 2px 0 rgb(227,229,229),-2px -2px 0 rgb(227,229,229),0px 3px 0 rgb(227,229,229),0px -3px 0 rgb(227,229,229),3px 0px 0 rgb(227,229,229),-3px 0px 0 rgb(227,229,229),3px 3px 0 rgb(227,229,229),3px -3px 0 rgb(227,229,229),-3px 3px 0 rgb(227,229,229),-3px -3px 0 rgb(227,229,229);
}
.schedule__block--4 .schedule__date {
    text-shadow:0px 1px 0 rgb(225,230,231),0px -1px 0 rgb(225,230,231),1px 0px 0 rgb(225,230,231),-1px 0px 0 rgb(225,230,231),1px 1px 0 rgb(225,230,231),1px -1px 0 rgb(225,230,231),-1px 1px 0 rgb(225,230,231),-1px -1px 0 rgb(225,230,231),0px 2px 0 rgb(225,230,231),0px -2px 0 rgb(225,230,231),2px 0px 0 rgb(225,230,231),-2px 0px 0 rgb(225,230,231),2px 2px 0 rgb(225,230,231),2px -2px 0 rgb(225,230,231),-2px 2px 0 rgb(225,230,231),-2px -2px 0 rgb(225,230,231),0px 3px 0 rgb(225,230,231),0px -3px 0 rgb(225,230,231),3px 0px 0 rgb(225,230,231),-3px 0px 0 rgb(225,230,231),3px 3px 0 rgb(225,230,231),3px -3px 0 rgb(225,230,231),-3px 3px 0 rgb(225,230,231),-3px -3px 0 rgb(225,230,231);
}
#fullpage .month--long {
    font-size: 79% !important;
    letter-spacing: -0.05em;
}
.current-menu-item a {
    color: #b39658 !important;
}
.contact__map {
    display: none;
}
.contact__email a {
    font-size: 19px;
}

.services__popup .wrap {
    position: relative;
}
.services__popup__form {
    height: auto;
    margin: auto;
    max-height: calc(100% - 50px);
    overflow: auto;
    position: relative;
    width: 100%;
}
/*.services__popup__form {*/
    /*height: initial;*/
    /*margin: auto;*/
    /*max-height: calc(100% - 50px);*/
    /*position: relative;*/
    /*width: 100%;*/
/*}*/
/*.services__popup__form .scrollable {*/
    /*!*max-height: -moz-available;*!*/
    /*!*max-height: -webkit-fill-available;*!*/
    /*!*max-height: fill-available;*!*/
    /*height: auto;*/
    /*overflow: auto;*/
/*}*/
.services__popup .wrap {
    bottom: 0;
    margin: 24px 0;
}
.services__popup .wrap .btn::before {
    top: -3px;
    padding: 33px 3px;
}
.services__popup .wrap .btn::after {
    top: -3px;
    padding: 29px 3px;
}
.services__popup .wrap .btn:hover {
    color: #000;
}
.cta__block:not(.cta__block--none-style) {
    display: flex;
    height: 100%;
    max-width: 92%;
    position: relative;
    width: 490px;
}
.services__popup__form::before, .services__popup__form::after {
    display: none;
}
.cta__plus {
    background: url(../img/plus-sm.png) no-repeat 50%;
    background-size: auto auto;
    background-size: contain;
    height: 30px;
    position: absolute;
    width: 30px;
}
.cta__plus--top {
    left: -18px;
    top: 32px;
}
.cta__plus--bottom {
    right: -17px;
    top: 500px;
}
.cta__time-input, .cta__gender-input {
    left: -5000px;
    position: fixed;
}
.cta__time-label {
    background-color:#e9e3df;
    border:2px solid #b39658;
    border-radius:50%;
    cursor: pointer;
    display: block;
    height:35px;
    width:35px;
}
.cta__time-input:checked ~ .cta__time-label, .cta__time-label:hover {
    background:#b39658;
}
.cta__gender-label {
    border:2px solid #b39658;
    border-radius:50%;
    cursor:pointer;
    display: flex;
    height:69px;
    text-align: center;
    width:69px;
}
.cta__gender-label > span {
    margin: auto;
}
.cta__gender-input:checked ~ .cta__gender-label, .cta__gender-label:hover{
    color:#fff;
    background-color:#000;
    border:2px solid #000
}
.cta__status {
    /*background-color: rgba(255, 255, 255, 0.94);*/
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}
.cta__status-body {
    text-align: center;
    margin: auto;
}

/*.cta--success, .cta--error, .cta--loading {*/
    /*overflow: hidden !important;*/
/*}*/
.cta__block .cta--success > *, .cta__block .cta--error > *, .cta__block .cta--loading > * {
    display: none;
}
.cta--success, .cta--error, .cta--loading {
    height: 178px;
}
.cta--success .cta__status--success, .cta--error .cta__status--error, .cta--loading .cta__status--loading {
    display: flex;
}
.cta__status-title {
    font-style: italic;
}
.cta__status-title h4 {
    padding-bottom: 0;
    font-style: normal;
    font-family: 'Times New Roman';
    text-transform: uppercase;
    font-size: 24px;
}
.cta__cont {
    display: none;
    height: 80vh;
}
.cta__cont--active {
    display: block;
}
.spinner {
    bottom: 40px;
    position: absolute;
    left: 50%;
    margin: 100px 0 100px -25px;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}
.spinner > div {
    background-color: rgb(47, 34, 60);
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}
@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}

.phones--big {
    margin: 3px 0 19px;
}
.phones--big a, .phones--big {
    font-size: 31px;
    font-weight: bold;
    font-family: Roboto Condensed,sans-serif;
}
.btn--transparent {
    background-color: transparent;
    color: #b39658;
}
.btn--transparent:hover {
    color: #000;
}
.btn--transparent::before, .btn--transparent::after {
    display: none;
}

.block--back-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.services .services__items .services__item__left {
    min-height: 140px;
}
.service__slick-item {
    display: none;
}
.service__slick-item.slick-slider {
    display: block;
}

.cta__block--wide {
    width: 730px !important;
}

.cta__block--wide .services__popup__form .service__inputs input {
    margin: 2.5% 10px 2.5%;
    padding: 17px 35px;
    width: calc(50% - 40px) !important;
}
.cta__block--wide .services__popup__form .service__inputs {
    padding-bottom: 2px;
}
.cta__block--wide .services__popup__form h3 {
    padding-bottom: 0.5%;
}
.cta__block--wide .services__popup__form .form__sub-title {
    font-family: "Sitka Banner", Times New Roman, serif;
    font-size: 18px;
    font-style: italic;
    padding: 6px 0 20px;
    text-align: center;
}
.cta__block--wide .form__modal-text {
    font-size: 14px;
    margin-bottom: 25px;
}
.masters #fullpage .container__right ul .container__img {
    left: -86%;
    top: 10%;
    width: 74%;
}
.service__slick .slick-dots {
    text-align: left;
}
.align--left {
    text-align: left;
}
.no-br p ~ br {
    display: none;
}
.hide-text {
    visibility: collapse;
}
.hide-text p {
    visibility: collapse !important;
}
.overflow--177 {
    overflow: auto;
    max-height: 177px;
}
/*.education .main.info .container .education_info {*/
    /*max-height: 72vh;*/
    /*padding: 0 20px 0 0;*/
    /*overflow: auto;*/
/*}*/
.img--hidden {
    left: -5000px;
    top: 0;
    position: fixed;
}
.education .info__container {
    max-height: 72vh;
    width: 100%;
}
.education .fp-section, .about .fp-section {
    overflow: hidden;
}
.education .education_info {
    max-height: 70vh;
}
.about .center .container {
    width: 100%;
}
.education .main.info .text-slide {
    text-align: left;
}

.count_of_clients {
    display: flex;
    margin: auto;
}
.count_of_clients__left, .count_of_clients__right {
    display: inline-block;
}
.count_of_clients__right {
    position: relative;
    right: -21px;
}
.count_of_clients__left {
    font-size: 98px;
    font-family: Times New Roman, Times, serif;
    font-weight: bold;
    letter-spacing: -0.01em;
    line-height: 0.92;
    padding-right: 0;
}
.count_of_clients__title {
    font-size: 25px;
    font-family: "Sitka Banner", Times New Roman, serif;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -0.01em;
}
.count_of_clients__cont {
    font-size: 18px;
    font-family: "Myriad Pro", Times New Roman, serif;
    letter-spacing: -0.01em;
    width: 262px;
}
/*.center__right--mp .center__info {*/
    /*display: flex;*/
    /*margin: auto;*/
/*}*/
.center__right--mp .slick-slider {
    width: 100%;
}
/*.center__right--mp .center__info--1 {*/
    /*align-items: end;*/
    /*display: flex;*/
    /*height: 68%;*/
    /*margin: auto;*/
/*}*/
/*.center__right--mp .center__info--2 {*/
    /*height: 32%;*/
/*}*/

.competition {
    text-align: center;
    display: inline-block;
}
.competition__big-number {
    font-family: Times New Roman, Times, serif;
    font-size: 277px;
    font-weight: bold;
    line-height: 0.7;
}
.competition__sub-number {
    font-family: "Sitka Display", Times New Roman, Times, serif;
    font-size: 66px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -0.01em;
    line-height: 1.2;
}
.competition__desc {
    font-size: 25px;
    font-family: "Roboto Condensed", Times New Roman, Times, serif;
    letter-spacing: -0.01em;
    margin-bottom: 24px;
}
.center--main-slide {
    width: 65.5%;
}
.center--main-slide .center__left {
    padding-left: 0 !important;
}
.right .main__right__top {
    display: block;
    text-align: right;
}
.header-phones {
    display: flex;
    margin: 6px 0 14px;
}
.header-phones .header-phone {
    font-family: "Roboto Condensed", Times New Roman, Times, serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.01em;
    line-height: 1.2;
}
.header-phones__split {
    display: flex;
    width: 1px;
    margin: 0 10px;
}
.header-phones__split:after {
    background-color: #b39658;
    content: '';
    height: 6px;
    margin: auto;
    width: 1px;
}
.btn--small {
    border-width: 1px !important;
    color: #000;
    font-size: 19px;
    letter-spacing: 0.01em;
    padding: 17px 12px 16px;
}
.startMenuRight {
    width: 380px;
}
.menu-link {
    font-family: Times New Roman, Times, serif;
    font-size: 33px;
    font-weight: bold;
    letter-spacing: -0.01em;
    text-transform: uppercase;
}
.header-mobile-title {
    font-family: "Sitka Banner", Times New Roman, Times, serif;
    font-style: italic;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    padding: 40px 0 0;
    text-align: center;
}
.scrollable {
    overflow: auto;
}
.scrollable--200 {
    height: 200px;
}
.scrollable--222 {
    height: 222px;
}
.scrollable--250 {
    height: 250px;
}
.scrollable--350 {
    height: 350px;
}
.scrollable--100per, .scroll-box__cont--100per {
    height: 100%;
}
.scrollable--100-60 {
    height: calc(100% - 65px);
}
.scrollable--100-90 {
    height: calc(100% - 90px);
}
.scrollable--72vh-90 {
    height: calc(100vh - 352px);
}
.scrollable--100-130 {
    height: calc(100% - 130px);
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #000 !important;
}
.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #000;
    width: 1px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 5px;
}
.container > .container__right, .container__right > .slider, .container__right > .slider > li, .scroll-box__cont {
    height: 100%;
}
.scroll-box__cont .btn {
    margin-top: 16px;
}
.unslider-arrow--round {
    background-color: #000;
    border-radius: 50px;
    bottom: -36px;
    cursor: pointer;
    display: flex;
    height: 74px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 74px;
}
.unslider-arrow--round img {
    width: 20px;
    height: 32px;
    margin: auto;
}
.unslider-arrow--round.prev, .unslider-arrow--round._prev {
    left: 20px;
}
.unslider-arrow--round.next, .unslider-arrow--round._next {
    right: 20px;
}
.unslider-arrow--round.next img, .unslider-arrow--round._next img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.unslider--100 {
    bottom: 20px;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 10;
}
/*.special .unslider--dotes {*/
    /*bottom: -73px;*/
/*}*/
.main.second .center .container .unslider--100 {
    bottom: 0;
}
.main.second .center .container .unslider--dotes {
    bottom: -116px;
}
.unslider--dotes {
    bottom: -94px;
    display: flex;
    justify-content: space-around;
    right: 100px;
    width: calc(100% - 200px);
}
.dot__item {
    cursor: pointer;
    text-align: center;
    width: 129px;
}
.dot__item--active .dot-item__img, .dot-item__img:hover {
    border: 2px solid #000;
}
.dot-item__img {
    background: transparent no-repeat center center / cover;
    border: 2px solid transparent;
    border-radius: 50px;
    display: inline-block;
    height: 94px;
    overflow: hidden;
    width: 94px;
}
.dot-item__img img {
    height: auto;
    min-height: 92px;
    width: 100%;
}
.dot-item__title {
    font-family: Cambria, Times New Roman, Times, serif;
    font-size: 17px;
    font-style: italic;
    height: 60px;
    margin-top: 2px;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    position: relative;
}
.dot-item__title .mCSB_inside > .mCSB_container {
    margin-right: 17px;
}
/*.service-slider .scroll-box__slide, .service-slider .dot__item {*/
    /*display: none;*/
/*}*/
/*.service-slider--man .scroll-box__slide--man, .service-slider--man .dot__item--man,*/
/*.service-slider--female .scroll-box__slide--female, .service-slider--female .dot__item--female,*/
/*.service-slider--couple .scroll-box__slide--couple, .service-slider--couple .dot__item--couple {*/
    /*display: block;*/
/*}*/
.service-slider--pre {
    display: block !important;
    width: 100%;
}
.service-slider--pre .container__pre {
    display: flex;
}
.service-slider--pre .container__right, .service-slider--pre .under-slide {
    display: none;
}
.container__pre {
    display: none;
    height: calc(100% - 90px);
    width: 100%;
}
.best-s-pre__cont {
    margin: auto;
    min-width: 100%;
    text-align: center;
    width: 560px;
}
.best-s-pre__desc {
    font-family: "Roboto Condensed", Times New Roman, Times, serif;
    font-size: 19px;
    line-height: 29px;
    letter-spacing: -0.01em;
}
.best-s-pre__big-text {
    font-family: Times New Roman, Times, serif;
    font-size: 41px;
    font-weight: bold;
    letter-spacing: -0.01em;
    margin-top: 22px;
    text-transform: uppercase;
}
.best-s-pre__hr {
    background-color: #b39658;
    color: #b39658;
    display: inline-block;
    height: 2px;
    margin: 25px 0;
    width: 33px;
}
.best-s-pre__input {
    border: 2px solid #000;
    border-radius: 100px;
    cursor: pointer;
    display: inline-block;
    margin: 0 28px;
    padding: 16px;
}
.best-s-pre__input-ins {
    border-radius: 100px;
    display: table-cell;
    height: 88px;
    font-family: "Myriad Pro", Times New Roman, Times, serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    width: 88px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.best-s-pre__input:hover .best-s-pre__input-ins {
    background-color: #b39658;
    color: #efe2da;
}

.slider-box {
    position: relative;
    height: calc(92% - 100px);
    top: 8%;
    width: 100%;
}
.under-slide {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.under-slide__line {
    background-color: #000;
    height: 2px;
    left: 72px;
    position: absolute;
    top: -22px;
    width: calc(100% - 144px);
    z-index: -1;
}
.slider-box__slide {
    display: block;
}
.slider-box__cont {
    height: 100%;
    position: relative;
    z-index: 2;
}
.scroll-box__img {
    background: transparent no-repeat bottom left / contain;
    bottom: 76px;
    height: 60%;
    left: 0;
    position: absolute;
    width: 52%;
    z-index: 0;
}
.slider-box__title, .slider-box__big-text {
    font-family: Times New Roman, Times, serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.slider-box__title {
    font-size: 30px;
}
.slider-box__big-text {
    font-size: 36px;
}
.slider-box__under-title {
    font-family: Cambria,Times New Roman, Times, serif;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 18px;
}
.slider-box__right {
    font-family: "Roboto Condensed", Times New Roman, Times, serif;
    display: flex;
}
.slider-box__right b, .slider-box__right strong {
    font-size: 25px;
}
.slider-box__right i, .slider-box__right em {
    font-family: Cambria, Times New Roman, Times, serif;
}
.slider-box__right ul {
    display: block;
    margin-top: 11px;
}
.slider-box__right li {
    display: block;
    font-size: 19px;
    line-height: 1.1;
    padding: 0 0 11px 10px;
    position: relative;
}
.slider-box__right li::before {
    content: '•';
    position: absolute;
    left: 0;
}
.slider-box__right-cont {
    display: flex;
    height: inherit;
    flex-direction: column;
    margin: auto 0 auto auto;
    max-height: 100%;
    justify-content: center;
    width: 44%;
}
.slider-box__right-cont .scrollable {
    max-height: calc(100% - 64px);
}
.slider-box__right-cont .btn {
    margin-top: 16px;
}
#fullpage .btn--small-more {
    display: inline-block;
    width: 232px;
}
.right {
    height: auto;
}
.shares {
    overflow: hidden;
}
.cont-with-more__cont {
    -webkit-transition: all 0.8s linear;
    -o-transition: all 0.8s linear;
    -moz-transition: all 0.8s linear;
    transition: all 0.8s linear;
}
.more-box {
    display: none;
    height: 70%;
    position: relative;
    width: 100%;
    -webkit-transition: all 0.8s linear;
    -o-transition: all 0.8s linear;
    -moz-transition: all 0.8s linear;
    transition: all 0.8s linear;
}
#zero .more-box {
    margin-top: 37vh;
}
.slider-box__more {
    display: none;
}
.more-box__item {
    display: none;
}
.more-box__item--active {
    display: block;
}
.more-box__item, .more-box__item .main {
    height: 100% !important;
    padding: 0;
}
.more-box__center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    display: flex;
    -webkit-box-pack: justify;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 50px;
    position: relative;
    width: 100%;
}
.more-box__center .container__wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}
.more-box__center .container__wrap img {
    width: 100%;
    height: 100%;
}
.more-box__center .btn__back {
    border: 2px solid #000;
    left: 5%;
    padding: 23px 30px;
    top: -4%;
    position: absolute;
}
.slider-box__cont .cont-with-more__btn::after {
    padding: 27px 0 !important;
}
.more-box__center .btn__back::before, .more-box__center .btn__back::after {
    padding: 26px 3px;
    content: "НАЗАД";
    font-size: 25px;
    top: -3px;
}
.more-box__center .btn__back::after {
    padding: 23px 3px;
}
.more-box__center .btn__enroll {
    background: #b39658;
    border: 2px solid #b39658;
    bottom: -4%;
    color: #b39658;
    padding: 25px 35px;
    position: absolute;
    right: 5%;
}
.more-box__center .btn__enroll::before {
    background: #b39658;
    color: #000;
    font-size: 25px;
    padding: 28px 3px;
    top: -3px;
}
.more-box__center .btn__enroll::after {
    border-color: #000;
    background-color: #000;
    color: #b39658;
    font-size: 25px;
    padding: 24px 3px;
    top: -3px;
}
.more-box__center .enroll__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    height: 45%;
    justify-content: space-between;
}
.more-box__center .enroll__top__left {
    width: 40%;
}
.more-box__center .enroll__top__left h3 {
    font-size: 30px;
    font-family: Times New Roman,Times,serif;
    text-transform: uppercase;
}
.more-box__center .enroll__top__left hr {
    border-bottom: 4px solid #000;
    width: 33px;
    margin: 15px 0;
}
.more-box__center .enroll__top__right {
    margin-right: -9%;
    width: calc(50% + 98px);
}
.more-box__center .enroll__bottom {
    display: flex;
    height: 52%;
    justify-content: space-between;
}
.more-box__center .enroll__bottom__left {
    margin-right: 3.2%;
    width: 40%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -ms-flex-pack: justify;
    text-align: center;
}
.more-box__center .enroll__bottom .enroll__bottom__right {
    height: 100%;
    width: 51%;
}
.more-box__center .enroll__bottom__right .scrollable {
    height: 100%;
}
.more-box__caps {
    font-size: 25px;
    font-family: Times New Roman,Times,serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -0.01em;
    margin-bottom: 16px;
}

body.services:not(.special) .under-slide {
    bottom: -56px;
    display: flex;
    left: 0;
    justify-content: space-between;
    position: absolute;
    width: calc(100% - 186px);
}
.under-slide__right {
    line-height: 1;
    padding-top: 7px;
    text-align: right;
}
.under-slide__right a {
    color: #000;
    font-family: Times New Roman, Times, serif;
    font-size: 17px;
    font-style: italic;
    text-align: right;
    text-decoration: underline;
}
.under-slide__right a:hover {
    color: #b39658;
}
.choice {
    display: flex;
    visibility: hidden;
}
.choice__item {
    cursor: pointer;
    display: flex;
    font-family: Times New Roman, Times, serif;
    font-size: 17px;
    font-style: italic;
    margin: 10px 30px 0 0;
    vertical-align: top;
}
.choice__item:hover .choice__check-mark {
    box-shadow: 1px 0 8px rgba(30,30,30,0.1);
}
.choice__check-mark {
    border: 2px solid #000;
    border-radius: 80px;
    bottom: -3px;
    height: 40px;
    margin-right: 12px;
    position: relative;
    width: 40px;
}
.choice__item--active .choice__check-mark {
    background: url("../img/checkmark.svg") no-repeat center center / 20px;
}
.current-choice .services__items__block {
    display: none !important;
}
.current-choice--man .services__items__block--man, .current-choice--female .services__items__block--female, .current-choice--couple .services__items__block--couple, .current-choice--empty .services__items__block--empty {
    display: flex !important;
}
#contact-ext .main {
    padding: 0;
}

.modal-copy {
    display: flex;
    margin: 10px 30px 0 0;
}
.modal-copy__check {
    border: 2px solid #b39658;
    border-radius: 80px;
    bottom: -3px;
    cursor: pointer;
    height: 0;
    margin-right: 14px;
    padding: 30px;
    position: relative;
    width: 0;
}
.modal-copy__check--active {
    background: url("../img/checkmark.svg") no-repeat center center / 32px;
}
.modal-copy__cont {
    display: flex;
    font-family: Times New Roman, Times, serif;
    font-size: 17px;
    font-style: italic;
    vertical-align: top;
}
.modal-copy__text {
    margin: auto 0;
}
.modal-copy__cont a {
    text-decoration: underline;
}
.cta__time-e {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}
.cta__time-text {
    width: 118px !important;
}
.cta__time-date {
    margin: 0 20px 0 10px;
    width: auto !important;
}
.cta__form .btn[disabled] {
    cursor: default !important;
    opacity: 0.5;
}
#fullpage .center--h100 {
    height: initial;
    margin: 0 auto;
    top: initial;
    width: 62.5%;
}
.special__big-price {
    font-family: "Roboto Condensed", Arial, serif;
    font-size: 45px;/*fix1*/
    font-weight: bold;
    letter-spacing: -0.01em;
    line-height: 1;
    position: absolute;
    top: 0;
    right: 47px;
}
.services__items__block {
    position: relative;
}
#fullpage .img--contain {
    background: transparent no-repeat center center / contain;
}
#fullpage .img--card {
    /*height: 177px;
    width: 287px; fix1*/
}
.services.special .services__items .center .services__items__block .services__item__right {
    width: calc(100% - 337px);
    padding-left: 0;
}
.services.special .services__items .center .services__items__block .services__item__right h3 {
    font-size: 24px;/*fix1*/
    font-weight: bold;
    letter-spacing: -0.01em;
}
.special .services__item__bottom__left p {
    font-family: "Roboto Condensed", Arial, serif;
    font-size: 16px;
}

.special-presents {
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
}
.special-presents__box {
    max-width: 100%;
    position: relative;
    width: 448px;
    z-index: 5;
}
.special-presents__title {
    font-family: Times New Roman, Times, serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -0.01em;
    line-height: 50px;
    margin-bottom: 22px;
    text-transform: uppercase;
}
.special-presents__cont {
    font-family: "Roboto Condensed", Arial, serif;
    font-size: 20px;
    letter-spacing: -0.01em;
    line-height: 29px;
    margin-bottom: 34px;
    padding-right: 30px; /*fix1*/
}
.special-presents__bg {
    background: transparent no-repeat center right / contain;
    background-image: none;
    /*height: 94%;*/
    position: absolute;
    /*width: 100%;*/
    z-index: 1;
    right: 0;/*fix1 -30%*/
    height: 100%; /*fix1*/
    width:60%;/*fix1*/
}
#fullpage .special-presents__btn .btn {
    padding: 25px 48px !important;
    width: initial !important;
    height: initial !important;
}
.pattern-line {
    background: url('../img/pattern.png') repeat-x top center;
    height: 6px;
    margin: 4em 0;
}
.f--italic {
    font-style: italic;
}
#fullpage .f--center {
    display: block;
    text-align: center;
    width: 100%;
}
#fullpage .container__left--one-line {
    left: 0;
    position: absolute !important;
    top: -24px;
}
#fullpage .container__left--one-line .container__title {
    text-align: left;
}
#fullpage .container__left--one-line .container__title h2:not(.mobile) {
    display: inline-block;
    margin-top: 0;
    margin-left: 0;
    position: relative;
    width: auto;
}
#fullpage .container__left--one-line .container__title h2:not(.mobile)::after {
    content: '';
    background-color: #000;
    height: 2px;
    position: absolute;
    right: -109%;
    top: 24px;
    width: 200px;
}

.border-box--with-bottom .scroll-box {
    max-width: 100%;
}
.img-text {
    display: flex;
    max-height: 100%;
    justify-content: space-between;
}
.img-text__left {
    max-width: 1000px;
    padding: 30px 0 30px 30px;
    width: 47%;
}
.img-text__slick {
    height: 100%;
    width: 100%;
}
.img-text__right {
    align-self: normal;
    display: flex;
    padding: 0 20px 0 0;
    text-align: left;
    width: 50%;
}
.img-text__right .scroll-box__cont {
    height: calc(100% - 30px);
    padding: 20px 0 10px;
}
.img-text__right p {
    margin-bottom: 1.4em;
}
.container__left--abs h2 {
    text-align: left;
}
.img-text__img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 94%;
    width: 100%;
}
.slick--slider-tab {
    display: none;
}
.slick--dots-center .slick-dots {
    text-align: center;
}
.img-text__left .slick-dots {
    margin-top: 0.4em;
}
#fullpage .persons-box .info__container {
    height: 72vh;
}
#fullpage .persons-box .info__container {
    height: auto;
    max-height: calc(100vh - 203px);
}
#fullpage .events-box .border-cont {
    height: auto;
}
.education .main.schedule .container__left .container__title h2 {
    font-size: 39px;
}
.persons-block {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 73vh;
    position: relative;
}
.persons-block__title {
    font-family: Times New Roman, Times, serif;
    font-size: 67px;
    font-weight: bold;
    letter-spacing: -0.01em;
    margin-bottom: 42px;
    text-transform: uppercase;
    text-align: left;
}
.persons {
    height: calc(100% - 230px);
}
.persons_nav {
    height: 108px;
    margin-top: 20px;
}
.persons__item {
    display: none;
    height: 100%;
}
.persons__item--active {
    display: block;
}
.person {
    display: flex;
}
.person__left {
    width: 31%;
}
.person__right {
    margin-left: 30px;
    text-align: left;
    width: 69%;
}
.person__photo {
    background: transparent no-repeat center center / cover;
    border-radius: 600px;
    margin: auto;
    overflow: hidden;
    width: 100%;
}
.person__title {
    font-family: Times New Roman, Times, serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -0.01em;
    margin-bottom: 22px;
    max-height: 100%;
    text-transform: uppercase;
}
.person__sub-title {
    font-family: "Sitka Small", Times New Roman, Times, serif;
    font-size: 22px;
    font-style: italic;
    letter-spacing: -0.01em;
    margin-bottom: 22px;
    text-align: left;
}
.person__desc p {
    font-family: "Roboto Condensed", Arial, serif;
    font-size: 20px;
    letter-spacing: -0.01em;
    margin-bottom: 1.4em;
}
.person__photo::before {
    content: "";
    padding-top: 100%;
    float: left;
}
.prices {
    display: flex;
    margin-top: 30px;
    position: relative;
}
.prices__left {
    display: flex;
    width: 31%;
}
.prices__line {
    background-color: #000;
    height: 0;
    margin: auto;
    padding: 18px 1px 18px 0;
    width: 0;
}
.prices__before-line {
    height: 0;
    padding: 1px 135px 1px 135px;
    width: 0;
}
.prices__right {
    display: flex;
    margin-left: 30px;
    text-align: left;
    justify-content: space-between;
    width: 69%;
}
.prices__cert {
    border: 1px solid #000;
    cursor: pointer;
    height: 107px;
    max-width: 116px;
    width: 19%;
}
.persons_nav {
    bottom: 0;
    display: flex;
    left: 0;
    position: absolute;
}
.persons_nav-item {
    border-radius: 200px;
    border: 2px solid transparent;
    cursor: pointer;
    height: 100px;
    margin-left: 20px;
    overflow: hidden;
    width: 100px;
}
.persons_nav-item img {
    height: 100%;
    width: 100%;
}
.persons_nav-item--active {
    border: 2px solid #000;
    cursor: default;
}
.persons_nav-item--active img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url("../img/grayscale.svg#greyscale");
    filter: gray;
}
.events {
    max-height: 68vh;
}
.scrollable--68 {
    max-height: calc(68vh - 30px);
}
.event {
    display: flex;
    margin-bottom: 17px;
    position: relative;
}
.events-box .cont-with-more__cont {
    height: 100%;
    position: relative;
    width: 100%;
}
.big-date__date {
    font-family: Times New Roman, Times, serif;
    font-size: 67px;
    font-weight: bold;
    letter-spacing: -0.01em;
    white-space: nowrap;/*fix1*/
}
.big-date__months {
    display: flex;
    justify-content: space-between;
}
.big-date__month {
    font-family: "Roboto Condensed", Arial, serif;
    font-size: 23px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
}
.event__center {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    margin: 0 30px;
    padding: 9px 0 0;
}
.event__name {
    font-family: "Roboto Condensed", Arial, serif;
    font-size: 25px;
    letter-spacing: -0.01em;
}
.event__days {
    font-family: "Sitka Banner", Arial, serif;
    font-size: 25px;
    font-style: italic;
    letter-spacing: -0.01em;
}
.about .main .center .container__left h2.h2--one-line {
    margin-top: -22px;
}
.education .main.schedule .container__right {
    width: 100%;
    margin-left: 0;
    padding: 10px 30px 20px;
}
.cont-with-more--transform .center {
    /*display: block !important;*/
    height: 100%;
}
.cont-with-more--transform {
    display: block !important;
}
.cont-with-more--transform .more-box {
    height: 69vh;
    top: initial;
}
.cont-with-more--transform .services .enroll .center {
    top: initial;
}
.cont-with-more--transform .cont-with-more__more {
    height: calc(100% - 31px);
    top: 100vh;
    position: absolute;
}
#fullpage .about-event .btn__back {
    left: initial;
    right: 55px;
    top: 7px;
}
#fullpage .about-event .btn__enroll {
    bottom: -64px;
    left: 30px;
    right: initial;
}
.about-event {
    font-family: "Roboto Condensed", Arial, serif;
    font-size: 19px;
    letter-spacing: -0.01em;
    line-height: 29px;
}
.about-event__title {
    font-family: Times New Roman, Times, serif;
    font-size: 41px;
    font-weight: bold;
    letter-spacing: -0.01em;
    line-height: 1.24;
    margin-bottom: 32px;
    padding-right: 160px;
    text-transform: uppercase;
}
.about-event__rows {
    display: flex;
    margin-bottom: 32px;
    position: relative;
    width: 100%;
}
.about-event__rows--center {
    max-height: 30vh;
    height: 30vh;
}
.about-event__left {
    margin-right: 23px;
    width: 48%;
}
.about-event__right {
    width: 50%;
}
.about-event__img {
    background: transparent no-repeat center center / cover;
    height: 100%;
    min-height: 200px;
}
.about-event__desc {
    height: 100%;
}
.about-event__desc p {
    margin-bottom: 1.4em;
}
.about-event__h3 {
    font-family: Times New Roman, Times, serif;
    font-size: 23px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 12px;
}
.about-event__days-time {
    display: flex;
    font-family: Times New Roman, Times, serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -0.01em;
    margin-bottom: 20px;
}
.about-event__days-time .about-event__color {
    margin-left: 13px;
}
.about-event__color {
    color: #b39658;
}
.about-event__cost {
    margin-bottom: 30px;
}
.about-event__table {
    border: none;
}
.about-event__t-cost {
    font-family: Times New Roman, Times, serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -0.01em;
}
.about-event__t-cost--cost {
    padding-right: 30px;
}
.about-event__t-name {
    padding-right: 40px;
}
.about-event__note {
    font-size: 17px;
    line-height: 20px;
}
#fullpage .about-event .center {
    display: block;
    height: calc(100vh - 262px);
    margin: auto;
    padding: 0 50px;
    top: 0;
}
.about-event__text li {
    display: block;
    padding-left: 20px;
    position: relative;
}
.about-event__text li::before {
    background-color: #b39658;
    border-radius: 20px;
    content: '';
    display: inline-block;
    height: 8px;
    left: 3px;
    margin: 0 8px 0 0;
    top: 12px;
    position: absolute;
    width: 8px;
}
.linch #fullpage .header-btn .btn {
    border-color: #000;
    color: #000 !important;
}
.linch #fullpage .header-btn .btn:hover {
    border-color: #fff;
    background-color: #fff;
}
.linch .btn--small {
    border-color: #000;
}
.linch .pattern-line {
    background: url('../img/pattern-white.png') repeat-x top center;
}
.contacts .contact-ext--active {
    display: flex;
}
.contact-box {
    position: relative;
}
.contact-box__cities {
    margin-left: auto;
    text-align: left;
}
.border-cont__title--left-cont {
    top: 0;
    position: absolute;
    width: 100%;
}
.border-cont__title--left-cont h2 {
    font-size: 42px;
    font-family: Times New Roman,Times,serif;
    padding: 0 14px;
    text-transform: uppercase;
}
.gallery .main .center {
    position: relative;
}
.gallery .main .center::before, .gallery .main .center::after {
    background-color: #000;
    content: '';
    height: 100%;
    left: 0;
    padding: 0 1px;
    position: absolute;
    top: 0;
    width: 0;
    z-index: -1;
}
.gallery .main .center::after {
    left: initial;
    right: 0;
}
.services:not(.education) .btn__back {
    box-shadow: -0 -5px 0 #EEE2DB, 0 -5px 0 #EEE2DB, -0 5px 0 #EEE2DB, 0 5px 0 #EEE2DB, -5px -0 0 #EEE2DB, 5px -0 0 #EEE2DB, -5px 0 0 #EEE2DB, 5px 0 0 #EEE2DB, -1px -5px 0 #EEE2DB, 1px -5px 0 #EEE2DB, -1px 5px 0 #EEE2DB, 1px 5px 0 #EEE2DB, -5px -1px 0 #EEE2DB, 5px -1px 0 #EEE2DB, -5px 1px 0 #EEE2DB, 5px 1px 0 #EEE2DB, -2px -5px 0 #EEE2DB, 2px -5px 0 #EEE2DB, -2px 5px 0 #EEE2DB, 2px 5px 0 #EEE2DB, -5px -2px 0 #EEE2DB, 5px -2px 0 #EEE2DB, -5px 2px 0 #EEE2DB, 5px 2px 0 #EEE2DB, -3px -5px 0 #EEE2DB, 3px -5px 0 #EEE2DB, -3px 5px 0 #EEE2DB, 3px 5px 0 #EEE2DB, -5px -3px 0 #EEE2DB, 5px -3px 0 #EEE2DB, -5px 3px 0 #EEE2DB, 5px 3px 0 #EEE2DB, -4px -5px 0 #EEE2DB, 4px -5px 0 #EEE2DB, -4px 5px 0 #EEE2DB, 4px 5px 0 #EEE2DB, -5px -4px 0 #EEE2DB, 5px -4px 0 #EEE2DB, -5px 4px 0 #EEE2DB, 5px 4px 0 #EEE2DB, -5px -5px 0 #EEE2DB, 5px -5px 0 #EEE2DB, -5px 5px 0 #EEE2DB, 5px 5px 0 #EEE2DB, -5px -5px 0 #EEE2DB, 5px -5px 0 #EEE2DB, -5px 5px 0 #EEE2DB, 5px 5px 0 #EEE2DB;
}
.services:not(.education) .btn__enroll {
    box-shadow: -0 -5px 0 #eae3de, 0 -5px 0 #eae3de, -0 5px 0 #eae3de, 0 5px 0 #eae3de, -5px -0 0 #eae3de, 5px -0 0 #eae3de, -5px 0 0 #eae3de, 5px 0 0 #eae3de, -1px -5px 0 #eae3de, 1px -5px 0 #eae3de, -1px 5px 0 #eae3de, 1px 5px 0 #eae3de, -5px -1px 0 #eae3de, 5px -1px 0 #eae3de, -5px 1px 0 #eae3de, 5px 1px 0 #eae3de, -2px -5px 0 #eae3de, 2px -5px 0 #eae3de, -2px 5px 0 #eae3de, 2px 5px 0 #eae3de, -5px -2px 0 #eae3de, 5px -2px 0 #eae3de, -5px 2px 0 #eae3de, 5px 2px 0 #eae3de, -3px -5px 0 #eae3de, 3px -5px 0 #eae3de, -3px 5px 0 #eae3de, 3px 5px 0 #eae3de, -5px -3px 0 #eae3de, 5px -3px 0 #eae3de, -5px 3px 0 #eae3de, 5px 3px 0 #eae3de, -4px -5px 0 #eae3de, 4px -5px 0 #eae3de, -4px 5px 0 #eae3de, 4px 5px 0 #eae3de, -5px -4px 0 #eae3de, 5px -4px 0 #eae3de, -5px 4px 0 #eae3de, 5px 4px 0 #eae3de, -5px -5px 0 #eae3de, 5px -5px 0 #eae3de, -5px 5px 0 #eae3de, 5px 5px 0 #eae3de, -5px -5px 0 #eae3de, 5px -5px 0 #eae3de, -5px 5px 0 #eae3de, 5px 5px 0 #eae3de;;
}
.linch .btn__back, .linch .btn__enroll {
    box-shadow: -0 -4px 0 #B39658, 0 -4px 0 #B39658, -0 4px 0 #B39658, 0 4px 0 #B39658, -4px -0 0 #B39658, 4px -0 0 #B39658, -4px 0 0 #B39658, 4px 0 0 #B39658, -1px -4px 0 #B39658, 1px -4px 0 #B39658, -1px 4px 0 #B39658, 1px 4px 0 #B39658, -4px -1px 0 #B39658, 4px -1px 0 #B39658, -4px 1px 0 #B39658, 4px 1px 0 #B39658, -2px -4px 0 #B39658, 2px -4px 0 #B39658, -2px 4px 0 #B39658, 2px 4px 0 #B39658, -4px -2px 0 #B39658, 4px -2px 0 #B39658, -4px 2px 0 #B39658, 4px 2px 0 #B39658, -3px -4px 0 #B39658, 3px -4px 0 #B39658, -3px 4px 0 #B39658, 3px 4px 0 #B39658, -4px -3px 0 #B39658, 4px -3px 0 #B39658, -4px 3px 0 #B39658, 4px 3px 0 #B39658, -4px -4px 0 #B39658, 4px -4px 0 #B39658, -4px 4px 0 #B39658, 4px 4px 0 #B39658, -4px -4px 0 #B39658, 4px -4px 0 #B39658, -4px 4px 0 #B39658, 4px 4px 0 #B39658 !important;
}
#fullpage .events .btn--small-more::after {
    padding: 27px 0;
}
.img-cta__cont {
    display: flex;
    height: auto;
    margin: auto;
    width: 100%;
}
.img-cta__cont img {
    height: auto;
    max-width: 100%;
    outline: 3px solid #b39658;
    width: 100%;
}
@media (max-width: 767px){
    .main.first .center__info h3, .main.first .center__info h3, .services .text--italic.slider-up{
        text-align: center;
    }
    .special__h2, .special__title, .special__big-text {
        font-size: 35px;
    }
    .main.first .center__info p, .main.first .center__info p{
        text-align: justify;
    }
    .best-service-m__title{
        text-align: center;
        font-size: 24px;
    }
    .home p{
        text-align: center;
    }
    .special__cont{
        text-align: center!important;
    }
    .master-descr-for-mobile{
        text-align: justify;
    }
    .master-call_text{
        width: inherit;
    }
    .hot-hours-ext .main .center .hot-hours__text{
        text-align: justify;
    }
    #fullpage .main__menu__button--mobile .main__menu__btn{
        position: fixed;
        right: 14px!important;
        left: inherit;
        z-index: 99999;
    }
    .contact__map{
        height: 300px;
    }
    .page-id-792 .special__big-text{
        text-align: center;
    }
    .special__big-price-m{
        text-align: center;
    }
    .special__h2, .special__title, .special__big-text{
        /*font-size: 36px!important;*/
        font-size: 36px;
    }
    .services__m-content.services__m-content--3.services__m-content--open .special__big-text{
        display: none;
    }
    ul.youtubewall li{
        width: 100%!important;
    }
    #fullpage .border-cont .schedule__title{
        width: 100%;
        text-align: center;
    }
    .border-cont__title.border-cont__title--left-cont .container__title{
        width: 100%;
    }
    .slick-dots button{
        margin: 0 auto;
    }
    .reviews .slick-dots{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .reviews #youtubelist .slick-dots li{
        width: 17px!important;
    }
    .contact__map{
        height: 300px!important;
    }
    #fullpage .main .center .container__right .slider li h3{
    	max-width: 100%;
    	text-align: center;
    }
    .header-phones{
    	position: fixed;
    	z-index: 9;
    }
    .special__title{
    	font-size: 27px!important;
    }
    #fullpage .header-btn .btn{
    	margin: auto!important;
    	margin-top: 45px!important;
    }
    .scroller{
    	height: 350px;
    	overflow-y: scroll;
    }
    .scroller::-webkit-scrollbar {
        width: 1px;
    }

    .scroller::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.scroller::-webkit-scrollbar-track {
    background: rgb(0,0,0);
    border: 2px solid transparent;

    background-clip: content-box;   /* THIS IS IMPORTANT */
}

/* Handle */
.scroller::-webkit-scrollbar-thumb {
    background: rgb(25,25,25);
    border-radius: 4px;
    border: 1px solid rgb(0,0,0);
}
    .about .main .center .container__right ul{
        margin-bottom: 60px;
    }
    #fullpage .unslider{
        /*bottom: -35px;*/
    }

}
#fullpage .main .center .container__right .slider .btn, #fullpage .services__slider .wrap.slider-left .btn{
    border-radius: 50px;
}
@media (min-width: 767px){
    .contact-ext--active{
        height: 400px;
    }   
}
